# Machine Learning
scikit-learn
xgboost
ngboost
statsmodels
optuna

# Visualização
matplotlib
plotly
tabulate

# Web app
streamlit

# Química computacional
rdkit
Pillow

# Utilidades e sistema
pandas
numpy
subprocess32; sys_platform == "linux"